*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* classi riutilizzabili */
.white{
    color: #fff;
}



/* vue */
#contenitore{
    background-color: black;
    color: #fff
}



/* header */
header{
    display: flex;
    align-items: center;
    height: 120px;
    padding-bottom: 50px;
}

header .header_left img{
    height: 40px;
    padding: 0 20px;
}

.header_center{
    flex-grow: 1;
    padding: 0 20px;
}

.header_center ul{
    display: flex;
}

.header_center ul li{
    list-style: none;
    padding: 0 10px;
    color: lightgray;
    text-transform: capitalize;
    cursor: pointer;
}

.header_center ul li:hover{
    color: rgb(139, 139, 139);
}

.header_center ul li.bianco{
    color: #fff;
}

.header_right{
    padding: 0 20px;
}

.header_right span:not(:nth-child(4)){
    padding-right: 10px;
}

.header_right img{
    height: 25px;
    vertical-align: middle;
}



/* main */
main{
    margin: 0 30px;
}

h2{
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 20px; 
}

.contenitore_film{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
}

.film{
    width: calc(100% / 6);
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.film img{
    width: 270px;
}

.film span{
    margin: 0;
}

.bandiera_lingua img{
    height: 30px;
}

.none{
    display: none;
}